﻿@using capstone.Models
@model List<carello>
@{ int n = 0;}
@foreach (carello c in Model)
{
    n++;
    <div class="d-flex" id="div">
        <div>
            <img src="~/Content/img/@c.prodotti.fotoprodotto" class="imgCarello" />
        </div>
        <div>
            <h3>@c.prodotti.nomeprodotto </h3>
            <p> @c.prodotti.prezzo€</p>
            @{ string id = "btn" + n;
                string id2 = "btni" + n;
                string idinput = "inp" + n;
                string idp = "p" + n;
            }
            @if (@c.quantita > 1)
            {
                <p id=@idp style="display:block">hai @c.quantita pezzi nel carello</p>
            }
            else
            {
                <p id=@idp style="display:block">hai un @c.quantita pezzo nel carello</p>
            }
            <button id=@id2 style="display:block"> modifica </button>
            <input type="number" value="@c.quantita" id=@idinput style="display:none" /> <button id=@id style="display:none"> conferma modifica </button>
        </div>
    </div>
}
<a href=".\aquista" class="btn"> aquista prodotti</a>
@section scripts {
    <script>
        $(document).ready(function () {
            var impElement = document.getElementById("div");

            // Conta il numero di elementi LI all'interno dell'UL
            var numeroDiElementiLI = impElement.getElementsByTagName("input").length;
            for (let i = 0; i < numeroDiElementiLI; i++) {

                $(`#btni${i + 1}`).click(function () {

                    $(`#btni${i + 1}`).toggle();
                    $(`#btn${i + 1}`).toggle();
                    $(`#inp${i + 1}`).toggle();
                    $(`#p${i + 1}`).toggle();
                })
                $(`#btn${i + 1}`).click(function () {

                    $(`#btni${i + 1}`).toggle();
                    $(`#btn${i + 1}`).toggle();
                    $(`#inp${i + 1}`).toggle();
                    $(`#p${i + 1}`).toggle();
                    var valore = $(`#inp${i + 1}`).val();
                    var inp = ""
                    if (valore > 1) {
                        inp = ` hai ${valore} pezzi nel carello`
                    }
                    else {

                        inp = `hai un ${valore} pezzo nel carello`

                    }
                    $(`#p${i + 1}`).text(inp);

                    $.ajax({
                        method: 'POST',
                        url: 'modifica',
                        data: { component: inp },
                        success: function (data) { }
                    })
                })
            }
        })
    </script>
}