﻿@using capstone.Models
@model List<carello>
@{ int n = 0; int? q = 0; decimal? prezzo = 0;}

<div id="div">
    @foreach (carello c in Model)
    {
        n++;
        q += c.quantita;
        prezzo += c.quantita * c.prodotti.prezzo;
        <div class="d-flex">
            <div>
                <img src="~/Content/img/@c.prodotti.fotoprodotto" class="imgCarello" />
            </div>
            <div>
                <h3>@c.prodotti.nomeprodotto </h3>
                <p> @c.prodotti.prezzo€</p>
                @{ string id = "btn" + n;
                    string id2 = "btni" + n;
                    string idinput = "inp" + n;
                    string idp = "p" + n;
                }
                @if (@c.quantita > 1)
                {
                    <p id=@idp style="display:block">hai @c.quantita pezzi nel carello</p>
                }
                else
                {
                    <p id=@idp style="display:block">hai un pezzo nel carello</p>
                }
                <button id=@id2 style="display:block"> modifica </button>
                <input type="number" class="@c.idprodotti" value="@c.quantita" id=@idinput style="display:none" /> <button id=@id style="display:none"> conferma modifica </button>
            </div>
        </div>

    }     <p class="@prezzo" id="repilogo"> hai @q nel carello per un totale di @prezzo€ </p>
    @{
        string link = "./aquista/" + prezzo;
    }
    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
        acquista
    </button>

    <div class="modal modal1 fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">iseisci i dati della tua carta di credito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-uppercase mb-0">numero Carta Di Credito </p>
                    <input type="number" id="1" />
                    <p class="mb-0">CVV</p>
                    <input type="number" id="1" />
                    <p class="text-uppercase mb-0">data scadenza carta </p>
                    <input type="date" id="1" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">annulla</button>
                    <a href=@link class="btn"> completa acquisto </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var impElement = document.getElementById("div");

            var numeroDiElementiLI = impElement.getElementsByTagName("input").length;
            console.log(numeroDiElementiLI)
            for (let i = 0; i < numeroDiElementiLI; i++) {
                console.log(i)
                $(`#btni${i + 1}`).click(function () {

                    $(`#btni${i + 1}`).toggle();
                    $(`#btn${i + 1}`).toggle();
                    $(`#inp${i + 1}`).toggle();
                    $(`#p${i + 1}`).toggle();
                })
                $(`#btn${i + 1}`).click(function () {

                    $(`#btni${i + 1}`).toggle();
                    $(`#btn${i + 1}`).toggle();
                    $(`#inp${i + 1}`).toggle();
                    $(`#p${i + 1}`).toggle();
                    var valore = $(`#inp${i + 1}`).val();

                    var posizioneCorrente = window.scrollY;
                    var id = $(`#inp${i + 1}`).attr("class").split(" ")[0]
                    console.log(id)
                    var int = 0
                    $.ajax({
                        method: 'POST',
                        url: 'modifica',
                        data: { component: valore, idprod: id },
                        success: function (data) {
                            location.reload();

                            window.scrollTo(0, posizioneCorrente);
                        }

                    })

                })
            }
        })
    </script>
}