@model capstone.Models.prodotti

@{

    string[] parti = Model.descrizione.Split(new string[] { "tr5zx" }, StringSplitOptions.RemoveEmptyEntries);

    List<string> partiDaVisualizzare = new List<string>();
    List<string> partiDaVisualizzare2 = new List<string>();
    List<string> partiDaVisualizzare3 = new List<string>();
    int n = 0;
    int n2 = 0;

    foreach (string parte in parti)
    {
        string parteTrimmed = parte.Trim();
        if (parteTrimmed == "dsi5zx")
        {
            n++;

        }
        if (parteTrimmed == "dsf5zx")
        {
            n2++;
        }

        if (parteTrimmed != "" && parteTrimmed != "dsi5zx" && parteTrimmed != "dfm5zx")
        {

            if (n == 0 && n2 == 0)
            {
                partiDaVisualizzare.Add(parteTrimmed);
            }

            else if (n == 1 && n2 == 0)
            {
                partiDaVisualizzare2.Add(parteTrimmed);
            }
            else
            {
                partiDaVisualizzare3.Add(parteTrimmed);
            }
        }

    } }
<div class="d-flex" id="div">
    <img src="~/Content/img/@Model.fotoprodotto" class="imgpr" />
    <div>

        <div id="imp">
            <h1> @Model.nomeprodotto</h1>
            <p>prezzo @Model.prezzo €</p>
            @if (@Model.valutazione != null && @Model.valutazione != 0)
            {
                for (var i = 0; i < Model.valutazione; i++)
                {

                    <i class="fa-solid fa-star" style="color: #fea21c;"></i>

                }

                int n4 = 5 - (int)Model.valutazione;

                for (var i = 0; i < n4; i++)
                {

                    <i class="fa-regular fa-star" style="color: #fea21c;"></i>
                }

            }
            <h4>carateristche del prodotto </h4>

            @for (var i = 0; i < partiDaVisualizzare.Count; i++)
            {
                if (i % 2 == 0)
                {
                    string idf1 = "imp" + (i + 1);
                    string idf2 = "imp" + (i + 2);

                    <div class="sep d-flex">
                        <p id=@idf1 class="fw-bold me-3"> @partiDaVisualizzare[i] </p>
                        <p id=@idf2>@partiDaVisualizzare[i + 1]</p>
                    </div>
                }
            }
        </div>
        <div>
        </div>

        <div>
            <div id="imparea">
                <h4>Informazioni su questo articolo</h4>
                <ul>
                    @for (var i = 0; i < partiDaVisualizzare2.Count; i++)
                    {
                        string idf1 = "textarea" + (i + 1);

                        <li id=@idf1> @partiDaVisualizzare2[i] </li>

                    }
                </ul>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="number" id="number" />
                    </div>
                </div>
                @if (ViewBag.modifica != null)
                {
                    string i = "../../prodotti/buildpagedetail/" + Model.idprodotti;
                    <a class="btn"
                       href=@i> cambia i dettagli del prodottto </a>
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="btn" value="aggiungi al carello" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
        <div id="err"></div>
    </div>
</div>
<h4>recensioni</h4>
@if (Model.vendita.Count > 0)

{
    if (ViewBag.recesione == null)
    {
        <div>
            <div id="container">
                <i class="fa-regular fa-star comment" id="star1"></i>
                <i class="fa-regular fa-star comment" id="star2"></i>
                <i class="fa-regular fa-star comment" id="star3"></i>
                <i class="fa-regular fa-star comment" id="star4"></i>
                <i class="fa-regular fa-star comment" id="star5"></i>
            </div>
            <input placeholder="inserici un titolo" id="input" />
<textarea class="d-block" id="textarea"> </textarea>
            <button id="btn2"> lascia recensione </button>
        </div>
    }
}

<btn class="btn" id="btn2"> </btn>
@if (Model.recensioni.Count > 0)
{

    foreach (capstone.Models.recensioni r in Model.recensioni)
    {
        string rec = "../modificarecensione/" + r.idrecensioni;
        <div>
            @if (r.utenti.username == User.Identity.Name)

            {
                <a class="btn d-block w-25 text-start p-0" href=@rec> modifica questo commento </a>}
            else
            {
                <p>commento di @r.utenti.username  </p>
            }

            @for (var i = 0; i < r.valutazione; i++)
            {

                <i class="fa-solid fa-star" style="color: #fea21c;"></i>

            }
            @{
                int n1 = 5 - (int)r.valutazione;
            }
            @for (var i = 0; i < n1; i++)
            {

                <i class="fa-regular fa-star" style="color: #fea21c;"></i>
            }
            <p class="d-inline ms-2 fw-bold"> @r.titolo </p>
            <p> @r.descrizione  </p>
        </div>
    }
}

@section scripts {
    <script>
        $(document).ready(function () {

            $("#btn").click(function () {

                var valoreInput = $("#number").val();
                console.log(valoreInput)
                var url = window.location.href;
                var id = url.substring(url.lastIndexOf('/') + 1);
                $.ajax({
                    method: 'POST',
                    url: '../dettaglijs',
                    data: { imp: valoreInput, idn: id },
                    success: function (data) {
                        $("#err").empty()
                        let val = ""
                        if (data != "ok") {
                            val = `<p class="text-danger">${data} </p>`
                        }
                        else {
                            val = `<p> prodotto aggiunto corretamente al carrello </p>`
                        }
                        $("#number").val("")
                        $("#err").append(val)
                    },

                })
            });
        });
        $(".comment").hover(function () {
            $(".comment").removeClass("fa-solid");
            $(".comment").addClass("fa-regular")

            selectedStars = $(this).index() + 1;
            for (var i = 0; i < selectedStars; i++) {
                $(".comment").eq(i).addClass("fa-solid");
                $(".comment").eq(i).removeClass("fa-regular")
            }
        });

        // Aggiungi l'evento al clic
        $(".comment").click(function () {
            $(".comment").removeClass("fa-solid");
            $(".comment").addClass("fa-regular")
            selectedStars = $(this).index() + 1;
            for (var i = 0; i < selectedStars; i++) {
                $(".comment").eq(i).addClass("fa-solid");
                $(".comment").eq(i).removeClass("fa-regular")
            }
        })
        $("#btn2").click(function () {

            let input = $("#textarea").val()
            let div = document.getElementById("container")
            let titolo = $("#input").val()
            var url = window.location.href;
            let n = div.getElementsByClassName("fa-solid").length;
            console.log(n)
            console.log(div.getElementsByClassName("fa-solid"))
            var id1 = url.substring(url.lastIndexOf('/') + 1);
            var posizioneCorrente = window.scrollY;
            $.ajax({
                method: 'POST',
                url: '../comment',
                data: { textarea: input, valutazione: n, id: id1, titolod: titolo },
                success: function (data) {
                    if (data = !0) {
                        var err = `<p> inserire una valutazione </p>`
                            $("#container").append(err)
                        if (n > 0) {

                            location.reload();

                            window.scrollTo(0, posizioneCorrente);
                        }

                    }

                }
            })

        });

        ;
    </script>
}