<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })</li>
                    <li> <input type="text" id="input" /> <i class="fa-solid fa-magnifying-glass" style="color: #303134;" id="i"></i>  </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contentDiv" id="content">
        @RenderBody()

    </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src='https://codepen.io/Hyperplexed/pen/xxYJYjM/54407644e24173ad6019b766443bf2a6.js'></script>
    <script>
        $(document).ready(function () {
            $("#i").click(function () {
                var url = window.location.href

                var arrurl = url.split("/")

                var sorgente = arrurl[0] + "//" + arrurl[2] + "/Home/cerca"




                var input = $("#input").val()
                $("#input").empty()
                $("#content").empty()

                $.ajax({
                    method: 'POST',
                    url: sorgente,
                    data: { h: input },
                    success: function (data) {

                        var content = ""
                        for (var i = 0; data.length>i; i++) {
                            var div1 = " ";
                            if (data[i].nomeprodotto.length > 45) {
                                var sorgente3 = arrurl[0] + "//" + arrurl[2] + "/Content/img/" + data[i].fotoprodotto
                                var divg = data[i].nomeprodotto.toString().Substring(0, 45)
                             div1 += `
                               <div class="me-3" style="width: 18rem;">
       <img src=${sorgente3} class="imgCarello" />
       <div class="card-body">

           <h5 class="card-title">
           ${divg}...
           </h5>`}
                            else {
                                var sorgente3 = arrurl[0] + "//" + arrurl[2] + "/Content/img/"+ data[i].fotoprodotto
                                div1 = `
                        <div class="me-3" style="width: 18rem;">
<img src=${sorgente3} class="imgCarello" />
<div class="card-body">

    <h5 class="card-title">
    ${data[i].nomeprodotto}
    </h5>`}
                            var div2 = " "
                            if (data[i].valutazione != null && data.valutazione != 0) {
                                for (var i2 = 0; i2 < p.valutazione; i2++) {
                                    if (di2 != null) {
                                        div2 += `<i class="fa-solid fa-star" style="color: #fea21c;"></i>`
                                    }
                                    else {
                                        div2 = `<i class="fa-solid fa-star" style="color: #fea21c;"></i>`
                                    }
                                }

       var n4 = 5 - data.valutazione;

                                for (var i2 = 0; i2 < n4; i2++) {

                                    div2 += ` <i class="fa-regular fa-star" style="color: #fea21c;"></i>`
                                }

                            }
                            var sorgente2 = arrurl[0] + "//" + arrurl[2] + data.idprodotti
                            var div3 = " "
                            div3 += `
           <p class="card-text"> ${data[i].prezzo}€</p>


                            <a href= ${sorgente2} class="btn btn-primary indexbtn">dettagli prodotto</a>
       </div>
   </div>`
                        }

                        var p = ` <div class="d-flex flex-wrap">` + div1 + div2 + div3 +   `</div> `
                        $("#content").append(p)
                        }




                    })
                })
            })

    </script>
</body>
</html>