@model capstone.Models.prodotti
@{

    string[] parti = new string[] { };
    if (Model.descrizione != null)
    {
        parti = Model.descrizione.Split(new string[] { "tr5zx" }, StringSplitOptions.RemoveEmptyEntries);
    }
    List<string> partiDaVisualizzare = new List<string>();
    List<string> partiDaVisualizzare2 = new List<string>();
    List<string> partiDaVisualizzare3 = new List<string>();
    int n = 0;
    int n2 = 0;

    foreach (string parte in parti)
    {
        string parteTrimmed = parte.Trim();
        if (parteTrimmed == "dsi5zx")
        {
            n++;

        }
        if (parteTrimmed == "dsf5zx")
        {
            n2++;
        }

        if (parteTrimmed != "" && parteTrimmed != "dsi5zx" && parteTrimmed != "dfm5zx")
        {

            if (n == 0 && n2 == 0)
            {
                partiDaVisualizzare.Add(parteTrimmed);
            }

            else if (n == 1 && n2 == 0)
            {
                partiDaVisualizzare2.Add(parteTrimmed);
            }
            else
            {
                partiDaVisualizzare3.Add(parteTrimmed);
            }
        }

    }

    <div class="d-flex">
        <img src="~/Content/img/@Model.fotoprodotto" class="imgpr" />
        <div>

            <div id="imp">
                <h1> @Model.nomeprodotto</h1>
                <p>prezzo @Model.prezzo €</p>
                <h4>inserisci le carateristche del prodotto con nome carateristca descrizione es{colore : nero} si consigliano poche parole chiavi </h4>

                @for (var i = 0; i < partiDaVisualizzare.Count; i++)
                {
                    if (i % 2 == 0)
                    {
                        string idf1 = "imp" + (i + 1);
                        string idf2 = "imp" + (i + 2);

                        <div class="sep">
                            <input id=@idf1 class="area" placeholder="inserire nome campo" value="@partiDaVisualizzare[i]" />
                            <input id=@idf2 class="area" placeholder="inserire descrizione" type="text" value="@partiDaVisualizzare[i+1]" />
                        </div>
                    }
                }
                @{
                    string id = "imp" + (partiDaVisualizzare.Count + 1);
                    string id2 = "imp" + (partiDaVisualizzare.Count + 2);
                    string id3 = "imp" + (partiDaVisualizzare.Count + 3);
                    string id4 = "imp" + (partiDaVisualizzare.Count + 4);
                }
                <div class="sep">
                    <input id=@id placeholder="inserire nome campo" />
                    <input id=@id2 placeholder="inserire descrizione" type="text" />
                </div>
                <div class="sep">
                    <input id=@id3 />
                    <input id=@id4 />
                </div>
            </div>
            <button id="btn"> aggiungi carateristiche</button>
            <a id="add-car" class="btn"> aggiungi riga di caratteristiche</a>
            <div>
            </div>

            <div>
                <div id="imparea">
                    <h4>inserisci descrizioni come per esempio le fuzioni o dettagli delle carateristiche</h4>
                    @for (var i = 0; i < partiDaVisualizzare2.Count; i++)
                    {
                        string idf1 = "textarea" + (i + 1);
                        <div class="area">
                            <textarea id=@idf1 class="area"> @partiDaVisualizzare2[i] </textarea>
                        </div>
                    }
                    @{
                        string idtxt1 = "textarea" + (partiDaVisualizzare2.Count + 1);
                        string idtxt2 = "textarea" + (partiDaVisualizzare2.Count + 2);
                    }

                    <div class="area">
                        <textarea id=@idtxt1 class="area"> </textarea>
                    </div>
                    <div class="area">
                        <textarea id=@idtxt2 class="area"> </textarea>
                    </div>
                </div>
                <a id="add-car2" class="btn"> aggiungi riga di caratteristiche</a>
                <button id="btntext"> aggiungi carateristiche</button>
            </div>
        </div>
    </div>
    string link = "";
    string link2 = "";
    string currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;

    string[] partidellastringa = currentUrl.Split(new string[] { "/" }, StringSplitOptions.RemoveEmptyEntries);
    string asid = partidellastringa.Last();

    if (asid == "buildpagedetail")
    {
        link = "concludi/" + Model.idprodotti;
        link2 = "modifica/" + Model.idprodotti;
    }
    else
    {
        link = "../concludi/" + Model.idprodotti;
        link2 = "../modifica/" + Model.idprodotti;
    }
    <a class="btn" href=@link> conferma e metti in vendita il prodotto </a>
    <a class="btn" href=@link2> modifica nome prezzo e immagine del prodotto </a>

}

@section scripts {
    <script>
        $(document).ready(function () {
            // Seleziona l'elemento UL per il suo ID
            var impElement = document.getElementById("imp");

            // Conta il numero di elementi LI all'interno dell'UL
            var numeroDiElementiLI = impElement.getElementsByTagName("input").length;
            var numeroDiElementiLI2 = numeroDiElementiLI / 2

            $("#add-car").click(function () {
                var div = `<div class="sep">
                                                                            <input id="imp${numeroDiElementiLI + 1}" />
<input id="imp${numeroDiElementiLI + 2}" />
</div>`
                $("#imp").append(div)
                numeroDiElementiLI = impElement.getElementsByTagName("input").length;

                numeroDiElementiLI2 = numeroDiElementiLI / 2
            })

            function getimp() {
                $(`#btn`).click(function () {

                    var input
                    for (var i = 0; i < numeroDiElementiLI2; i++) {
                        var n1 = (i + 1) * 2;
                        var n2 = (i + 1) * 2 - 1;
                        var val1 = $(`#imp${n2}`).val();
                        var val2 = $(`#imp${n1}`).val();
                        if (val1 != undefined && val2 != undefined) {
                            if (val1 != "" && val2 != "") {

                                if (input != undefined) {
                                    input += " tr5zx " + val1 + " tr5zx " + val2;
                                }
                                else {
                                    input = " tr5zx " + val1 + " tr5zx " + val2;
                                }
                            }

                        }
                    }
                    var url = window.location.href;

                    var ultimaParte = url.substr(url.lastIndexOf('/') + 1);

                    if (ultimaParte == "buildpagedetail") {
                        $.ajax({
                            method: 'POST',
                            url: 'adddestcrizione',
                            data: { imp: input },
                            success: function (data) {

                            }
                        })
                    }
                    else {

                        $.ajax({
                            method: 'POST',
                            url: '../adddestcrizione',
                            data: { imp: input },
                            sucess: function (data) {

                            }
                        })
                    }
                }
                )
            }
            getimp()
            var txtElement = document.getElementById("imparea");

            // Conta il numero di elementi LI all'interno dell'UL
            var numeroDiElementi = txtElement.getElementsByTagName("textarea").length;
            $("#add-car2").click(function () {
                var div = `<div class="area">
                                                                                                                                                                                                                                                        <textarea id="textarea${numeroDiElementi + 1}"> </textarea>
                                                                                                                                                                                                                                                    </div>`
                $("#imparea").append(div)
                numeroDiElementi = txtElement.getElementsByTagName("textarea").length

            })
            function gettext() {
                $(`#btntext`).click(function () {
                    var input
                    console.log(numeroDiElementi)
                    for (var i = 0; i < numeroDiElementi; i++) {
                        var val = $(`#textarea${i + 1}`).val();
                        console.log(val)
                        if (val != undefined && val != "") {
                            if (input != undefined) {
                                input += " tr5zx " + val
                            }
                            else {
                                input = " tr5zx " + val

                            }
                        }
                    }
                    var url = window.location.href;

                    var ultimaParte = url.substr(url.lastIndexOf('/') + 1);
                    console.log(input)
                    if (ultimaParte == "buildpagedetail") {
                        console.log(input)
                        $.ajax({
                            method: 'POST',
                            url: 'adddestcrizionelg',
                            data: { imp: input },
                            sucess: function (data) {
                                console.log(data)
                            }
                        })
                    }
                    else {
                        $.ajax({
                            method: 'POST',
                            url: '../adddestcrizionelg',
                            data: { imp: input },
                            sucess: function (data) {
                                console.log(data)
                            }
                        })
                    }
                }
                )
            } gettext()
        })
    </script>
}